extends layout

block additionalStyles
    style(type="text/css")
        | .jumbotron{ background-image: url('https://d23sy9fe9womrt.cloudfront.net/1/30321_1_exit-festival-in-serbia-returns-in-july-2017_ban.jpg'); background-size: cover; color:white; background-position: center 75%}

block content

    .jumbotron.jumbotron-fluid.bg-info.text-white
        .container.text-sm-center.pt-5
            h1.display-3.font-weight-bold About
            p.lead Where did all of this come frome?
    .container
        .row
            .col-lg.order-lg-2
              h3.mb-4 Why?
              p
                | We're very passionate about festivals, and have had are up and down experiences over the years, and we wanted to help others not fall in the same pitfalls
              p
                | This is our way of trying to make the festival experience of others much better
            .col-lg.order-lg-1
              h3.mb-4 What is Festival Guide?
              p
                | A journey never ends for true festival people, and we are here to help you with choosing your next adventure
              p
                | Here you can post questions about your favorite festivals, get help and help out other adventure seekers
              p
                | Apart from preparing for the next festival, you could find your adventure partners right here!