hr
.row.py-4.text-muted
  .col-md.col-xl-5
    p
      strong About Treehouse
    p
      | Treehouse brings affordable technology education to people everywhere to help them achieve their dreams and change the world.
  .col-md.col-xl-5.ml-auto
    p
      strong Stay up-to-date on Full Stack Conf
    .input-group
      input.form-control(type='text', placeholder='Email')
      span.input-group-btn
        button.btn.btn-primary(type='button') Sign up
hr
.row.py-3
  .col-md-7
    ul.nav
      li.nav-item
        a.nav-link(href='#') Community
      li.nav-item
        a.nav-link(href='#') Tracks
      li.nav-item
        .btn-group.dropup
          button.btn.btn-danger(type='button') Action
          button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.sr-only Toggle Dropdown
          .dropdown-menu
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated link
  .col-md.text-md-right
    small &copy; 2017 Full Stack Conf &amp; Treehouse