hr
.container
  .row.py-4.text-muted
    .col-md.col-xl-5
      p
        strong About Festival Guide
      p
        | Festival Guide aims to prepare and inform you as much as we can about your favorite festivals
    .col-md.col-xl-5.ml-auto
      p
        strong Stay up-to-date with Festival Guide! 
      .input-group
        input.form-control(type='text', placeholder='Email')
        span.input-group-btn
          a(href='/users/register')
            button.btn.btn-primary(type='button') Sign up
hr
.container
  .row.py-3
    .col-md-7
    .col-md.text-md-right
      small &copy; Festival Guide