nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      .container
        if !currentUser
          a.navbar-brand.order-1(href='/users/login') LOG IN
        else
          a.navbar-brand.order-1(href='/users/profile') PROFILE
          a.navbar-brand.order-1(href='/users/logout') LOG OUT
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            a.nav-item.nav-link.active(href='/')
              | Home 
              span.sr-only (current)
            a.nav-item.nav-link(href='/about') About
            a.nav-item.nav-link(href='/festivals') Festivals
            if !currentUser
              a.nav-item.nav-link(href='/users//register') Sign-up