nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      .container
        a.navbar-brand.order-1(href='/users//register', target='_blank') Sign Up
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            a.nav-item.nav-link.active(href='/')
              | Home 
              span.sr-only (current)
            a.nav-item.nav-link(href='/about') About
            a.nav-item.nav-link(href='/festivals') Festivals
            a.nav-item.nav-link(href='#schedule') Tickets
            a.nav-item.nav-link(href='#schedule') Log-in