extends layout

block content
    .main.container.mt-5
        .row.text-center
            .col-md-12.col-md-offset-3.mt-3
                h1 Oops, there was an error
                img(src='/static/images/error/error.png')
            .col-md-12.col-md-offset-3.p-t-2
                h3.m-t-2= message 
