extends layout

block additionalStyles

    style(type="text/css")
        | .jumbotron{ background-image: url('#{festival.jumbotronImage}'); background-size: cover; color:white; background-position: center 20%}

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4.font-weight-bold #{festival.name}
        p.lead.font-weight-bold
            | #{festival.longDescription}
    .container
        .album.py-5.bg-light
            .row
                each photo in festival.photos
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', alt='Festival image', style='height: 225px; width: 100%; display: block;', src=`${photo.url}`, data-holder-rendered='true')
        //- ul.nav.justify-content-center.mb-2
        //-     li.nav-item
        //-         a.nav-link.active(href='#') Photos
        //-     li.nav-item
        //-         a.nav-link(href='#') Weather
        //-     li.nav-item
        //-         a.nav-link(href='#') Discussion
        //- hr
        ul#schedule.list-group
        li.list-group-item
            .d-flex.justify-content-between
                h5 USER WHO ASKED
                a(href='/questions')
                    h5 QUESTION TEXT
                span.badge.badge-pill.badge-info NUMBER OF ANSWERS
            p USER DETAILS
        li.list-group-item
            .d-flex.justify-content-between
                h5 USER WHO ASKED 
                h5 QUESTION TEXT
                span.badge.badge-pill.badge-info NUMBER OF ANSWERS
            p USER DETAILS
        li.list-group-item
            .d-flex.justify-content-between
                h5 USER WHO ASKED
                h5 QUESTION TEXT
                span.badge.badge-pill.badge-info NUMBER OF ANSWERS
            p USER DETAILS
        hr.my-5
    

