extends layout

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4 EXIT Festival
        p.lead
            | LONG FESTIVAL DESCRIPTION GOES HERE
    .container
        ul.nav.justify-content-center.mb-2
            li.nav-item
                a.nav-link.active(href='#') Photos
            li.nav-item
                a.nav-link(href='#') Weather
            li.nav-item
                a.nav-link(href='#') Discussion
        ul#schedule.list-group
        hr
        li.list-group-item
            .d-flex.justify-content-between
                h5 USER WHO ASKED
                a(href='/questions')
                    h5 QUESTION TEXT
                span.badge.badge-pill.badge-info NUMBER OF ANSWERS
            p USER DETAILS
        li.list-group-item
            .d-flex.justify-content-between
                h5 USER WHO ASKED 
                h5 QUESTION TEXT
                span.badge.badge-pill.badge-info NUMBER OF ANSWERS
            p USER DETAILS
        li.list-group-item
            .d-flex.justify-content-between
                h5 USER WHO ASKED
                h5 QUESTION TEXT
                span.badge.badge-pill.badge-info NUMBER OF ANSWERS
            p USER DETAILS

