extends layout.pug

block content
  .jumbotron.jumbotron-fluid.bg-info.text-white
    .container.text-sm-center.pt-5
      h1.display-3 Festival Helper
      p.lead A guide to festival people, from festival people. Hope you enjoy
      .btn-group.mt-4(role='group', aria-label='Callout buttons')
        a(href='/users/register')
          button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#register') Register now
        a.btn.btn-light.btn-lg(href='#speakers') Festivals
  #about.container.pt-4
    .row
        .col-lg.order-lg-2
          h3.mb-4 Why?
          p
            | We're very passionate about festivals, and have had are up and down experiences over the years, and we wanted to help others not fall in the same pitfalls
          p
            | This is our way of trying to make the festival experience of others much better
        .col-lg.order-lg-1
          h3.mb-4 What is Festival Guide?
          p
            | A journey never ends for true festival people, and we are here to help you with choosing your next adventure
          p
            | Here you can post questions about your favorite festivals, get help and help out other adventure seekers
          p
            | Apart from preparing for the next festival, you could find your adventure partners right here!
    h1#speakers.display-4.text-center.my-5.text-muted Find your groove
    p FESTIVAL CARDS SHOULD GO HERE
    .album.py-5.bg-light
    .row
      each festival in festivals
        .col-md-4
          .card.mb-4.shadow-sm
            img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', alt='Festival image', style='height: 225px; width: 100%; display: block;', src=`${festival.thumbnailImage}`, data-holder-rendered='true')
            .card-body
              h3.text-center #{festival.name}
              p.card-text
                | #{festival.shortDescription}
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  a(href=`/festivals/${festival.name}`)
                    button.btn.btn-sm.btn-outline-secondary(type='button') See More
                small.text-muted 9 mins
    a(href='/festivals')
      button.btn.btn-primary.btn-block(type='button') See all festivals
    hr
    button.btn.btn-outline-info.btn-lg.d-block.mx-auto.my-5(type='button', data-toggle='modal', data-target='#register') Don&apos;t Miss Out, Register Now

  #register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register form', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.bg-info.text-white
          h5#exampleModalLongTitle.modal-title Register for Conf
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form
            .alert.alert-warning.alert-dismissible.fade.show(role='alert')
              strong Hurry!
              |  Discount period lasts only two more days!
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
            h5.mb-5 Basic info
            .form-group
              label(for='name') Name:
              input#name.form-control(type='text')
            .form-group
              label(for='email') Email:
              input#email.form-control(type='email')
            .form-group
              label(for='role') Role:
              select#role.form-control
                option(value='1') Role 1
                option(value='2') Role 2
                option(value='3') Role 3
            hr.my-4
            h5.mb-5 Which topics interest you the most
            .form-check
              label.form-check-label
                input.custom-control-input(type='checkbox')
                span.custom-control-indicator
                span.custom-control-description Node
            .form-check
              label.form-check-label
                input.custom-control-input(type='checkbox')
                span.custom-control-indicator
                span.custom-control-description Angular
            .form-check
              label.form-check-label
                input.custom-control-input(type='checkbox')
                span.custom-control-indicator
                span.custom-control-description React
            hr.my-4
            h5.mb-4 Payment info
            .form-row
              .col-lg-6.form-group
                label(for='cc-num') Card Number:
                input#cc-num.form-control(type='text')
              .col-lg.form-group
                label(for='zip') Zip Code:
                input#zip.form-control(type='text')
              .col-lg.form-group
                label(for='cvv') CVV:
                input#cvv.form-control(type='text')
            .form-row
              label.col-lg-12 Expiration date:
              .form-group.col-lg-8
                select#exp-month.custom-select.form-control
                  option(value='1') 1 - January
                  option(value='2') 2 - February
              .form-group.col-lg-4
                select#exp-year.custom-select.form-control
                  option(value='2016') 2016
                  option(value='2017') 2017
            hr.my-4
            button.btn.btn-primary(type='submit') Submit

  include includes/footer.pug

              