extends layout

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4 Sign Up
        p.lead
            | Share the energy and help with others
    .container.mt-5
        .row
            .col-md-3
                p Users image, name and details go here
            .col-md-9
                p This should be the body of the question
        hr
        .row
            .col-md-12
                p The plus and minus count should go here
            .col-md-3
                p Answer image, name and details go here
            .col-md-9
                p This should be the body of the answer
        hr
        .row
            .col-md-3
                p Answer image, name and details go here
            .col-md-9
                p This should be the body of the answer
